body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i {
  cursor: pointer;
  color: red;
}

.profile-icon {
  position: relative;
  display: inline-block;
}

.profile-icon .fa-user {
  cursor: pointer;
}

.profile-icon .profile {
  position: absolute;
  top: 100%; /* Adjusted to show below the icon */
  right: 0; /* Positioned to the right side */
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  display: none;
  z-index: 1000; /* Ensures it's above other content */
}

.profile-icon:hover .profile {
  display: block;
}
